<header class="text-gray-300 body-fontflex mx-auto scale-110">
    <div class="container mx-auto flex flex-wrap p-4 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <a class="bg-gradient-to-r from-[#9D303F] to-[#8d2837] hover:bg-gradient-to-b hover:scale-105 py-4 rounded-xl px-7 ml-3 text-xl font-bold duration-150" href="/">XSkino</a>
      </a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <li class="opacity-90 hover:opacity-100 hover:bg-[#9D303F] duration-150 items-center m-3 justify-center p-2 border-[#9D303F] border-2 list-none rounded-2xl"><a class="" href="/">Главная</a></li>
        <li class="opacity-90 hover:opacity-100 hover:bg-[#9D303F] duration-150 items-center m-3 justify-center p-2 border-[#9D303F] border-2 list-none rounded-2xl"><a class="" href="/all">Все фильмы</a></li>
        <li class="opacity-90 hover:opacity-100 hover:bg-[#9D303F] duration-150 items-center m-3 justify-center p-2 border-[#9D303F] border-2 list-none rounded-2xl"><a class="" href="/pricing">Подписка</a></li>
      </nav>
      <a class="inline-flex items-center bg-gradient-to-r from-[#9D303F] to-[#8d2837] hover:bg-gradient-to-b border-0 py-3 px-5 focus:outline-none hover:text-white rounded-xl hover:rounded-md text-base mt-4 md:mt-0 duration-150" href="/signup">регистрация
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
    </a>
    </div>
  </header>