<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body class="bg-[#121212]">
    <%- include('partials/header.ejs') %>
<body>
    <section class="text-gray-300 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
              <h1 class="text-gray-200 text-3xl title-font font-medium mb-4">Название фильма</h1>
              <div class="flex mb-4">
                <a class="flex-grow text-[#9d303f] border-b-2 border-[#9d303f] py-2 text-lg px-1 cursor-pointer">Описание</a>
                <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1 cursor-pointer">Отзывы</a>
                <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1 cursor-pointer">Детали</a>
              </div>
              <p class="leading-relaxed mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit temporibus delectus aperiam nulla, ipsam libero? Quidem autem, aliquid magnam vero molestias repellat fuga aperiam cupiditate, laboriosam dolorem mollitia placeat sed.</p>
              <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-300">Жанр</span>
                <span class="ml-auto text-gray-400">Боевик</span>
              </div>
              <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-300 ">Длительность</span>
                <span class="ml-auto text-gray-400">2:01:03</span>
              </div>
              <div class="flex border-t border-b mb-6 border-gray-200 py-2">
                <span class="text-gray-300">Оценка</span>
                <span class="ml-auto text-gray-400">4.1</span>
              </div>
              <div class="flex">
                <button class="flex ml-auto text-white bg-gradient-to-r hover:scale-105 duration-150 from-[#9D303F] to-[#8d2837] hover:bg-gradient-to-b  border-0 py-2 px-6 focus:outline-none rounded">Смотреть</button>
                <button class="rounded-full hover:scale-105 duration-150 w-10 h-10 bg-gray-500 p-0 border-0 inline-flex items-center justify-center text-gray-200 ml-4">
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
                  </svg>
                </button>
              </div>
            </div>
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://dummyimage.com/400x400">
          </div>
        </div>
      </section>
</body>
</html>